# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=gallery
DB_PASSWORD=password
DB_NAME=gallery

# Admin Configuration
# Default password: "password"
ADMIN_PASSWORD=password
SESSION_SECRET=5e47a072d912b3cf7976d4b13bb75a7f20f7524eb5f7083b188de0a95ffbc555
